certifi==2019.3.9
Click==7.0
Flask==1.0.3
Flask-PyMongo==2.3.0
gunicorn==19.7.1
icc-rt==2019.0
intel-numpy==1.15.1
intel-openmp==2019.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
numpy==1.16.3
pandas==0.24.2
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
tbb==2019.0
tbb4py==2019.0
Werkzeug==0.15.4
wincertstore==0.2
