<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/955/955073.svg">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/product.css" rel="stylesheet">
	
  </head>

  <body>
	
	<!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-image: url(	https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v149-lp-249-foodillutration_2.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=9f6eb8ccdf258d69542f9ba0aa182058); background-size: 100%; height: 100%;">
		<h2 class="my-0 font-weight-normal">
			<br><br>About the EATinerary App
		</h2>
    </div>
	
	<div class = "container">
	<p>In this present generation, there exists a distinct hobbyist group called foodies. These are people who eat not only out of necessity but also for passion to savor a multitude of taste and flavors. Aside from these foodies, a growing number of consumers dine at restaurants or order to go. We live in a fast-paced world and majority of people don’t have time nor inclination to cook.</p><br>

    <p>Research takes a lot of time. However, it is unavoidable because foodies can be extremely picky on where to eat. Some parents require a kid friendly restaurant. Dog lovers need a place to dine comfortably with their pets. Based on personal experience, eating with a group is tricky - One friend needs wheelchair access, another companion needs a gluten-free meal, while some are only available late at night. We find ourselves searching multiple websites to plan a food trip. In order to solve this problem, we gathered Yelp’s dataset and built an interactive restaurant web application called EATinerary.</p><br>
   
	<p>The home page displays forms for the users to input their restaurant preferences. We incorporated an auto-complete function on the city search for a good user experience. The application also allows individuals to choose an accessibility requirement and a dietary requirement. Upon submission, an EATinerary map is generated. It plots suggested locations on a map, with tooltip that displays restaurant information. This makes user research quick and easy. In addition, this can also be a very useful business tool for targeting specific consumer needs and niche marketing. Afterall, no single restaurant has a universal appeal.</p><br>
	
	<h4 align= "center">A little more information...</h4><br>
	<p>We actually kept the older version of this app which you can view <a href="https://eatinerary.herokuapp.com/">here</a>. It allows the user to pick a city and minimum star rating of a restaurant to generate an EATinerary map. On the map itself, the user can further filter by 15 categories that we randomly selected. Although the application is fully functional, it does not run as fast as we wanted due to the massive dataset. This is why decided to build a new and improved application. For optimization, we changed our database to mySQL (previously MongoDB). We also downsized our data by excluding cities that have less than 25 restaurants with reviews. We included more filters prior to generating a map. For aesthetics, we made a page loader, an animated background and an interactive navigation side bar.</p><br>
	
	<h4 align= "center">Thank you and we hope you enjoyed using EATinerary!</h4><br>
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/css/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/css/popper.min.js.download"></script>
    <script src="/static/css/bootstrap.min.js.download"></script>
	
	
</body></html>