<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/955/955073.svg">

    <title>Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
  </head>

  <body>
	
	<!-- Nav Link -->
	<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
		<a class="navbar-brand" href="/">EATinerary</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="/contact">Contact</a>
			</li>
		  </ul>
		</div>
	</nav>

	
	<!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-image: url(	https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v149-lp-249-foodillutration_2.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=9f6eb8ccdf258d69542f9ba0aa182058); background-size: 100%; height: 100%;">
		<h2 class="my-0 font-weight-normal">
			<br><br>About the Team
		</h2>
    </div>
	
	<div class="container">
	  <div class="row">
		<!-- Haley -->
		<div class="col-sm-6">
  		<div class="card">
		  <img src="/static/Images/haley.jpg" style="width:100%">
		  <div class="container">
			<a href="https://www.linkedin.com/in/brianhaley-/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
			<a href="https://github.com/totalentropy" target="_blank"><i class="fab fa-github"></i></a>
		  </div>
		</div>		  
		</div>		
		<!-- Gatus -->
		<div class="col-sm-6">
  		<div class="card">
		  <img src="/static/Images/gatus.jpg" style="width:100%">
		  <div class="container">
			<a href="https://www.linkedin.com/in/anna-francesca-gatus/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
			<a href="https://github.com/CheskaGatus" target="_blank"><i class="fab fa-github"></i></a>
			<a href="https://www.thechesklist.com" target="_blank"><i class="fas fa-globe"></i></a>		
		  </div>
		</div>		  
		</div>
	  </div>
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/css/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/css/popper.min.js.download"></script>
    <script src="/static/css/bootstrap.min.js.download"></script>
	<script src="https://kit.fontawesome.com/7d7153cb30.js"></script>
	
	
</body></html>