<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/955/955073.svg">

    <title>EATinerary</title>
	
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="/static/css/custom1.css" rel="stylesheet">
	
	
  </head>
  <body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">

    <!-- Light Nav Bar -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white	 border-bottom shadow-sm">
	  <h5 class="my-0 mr-md-auto font-weight-normal">
		<a href="/"><img src="/static/Images/logo.JPG" alt="Eatinerary" width=40% height=40% >
	  </h5>
	  <nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/map.html">Map</a>
		<a class="p-2 text-dark" href="/soon.html">Reviews</a>
		<a class="p-2 text-dark" href="/soon.html">About</a>    
	  </nav>
	</div>

	<!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-image: url(	https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v149-lp-249-foodillutration_2.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=9f6eb8ccdf258d69542f9ba0aa182058); background-size: 100%; height: 100%;">
		<h2 class="my-0 font-weight-normal">
			<br>Let us help with your
			<br>EATinerary
		</h2>
    </div>

	<!-- CARDS -->     
	<div class="container">		
	  <div class="row">
			
		<!-- CARD 1 -->
		
		<div class="col-md-6">
		<div class="fill">
		  <div class="card-deck mb-3 text-left">
			<div class="card mb-4 shadow-sm">
			  <div class="card-header">
				<h2 class="my-0 font-weight-normal">Get Started!</h2>
			  </div>
			  <div class="card-body">
			  <!-- FORM 1 -->
			  <form method="POST" action="/" roles="form" name="mapForm">
			  <div class="form-group">
				<label for="inputCity">Enter a City in Greater Toronto Area: </label>
				<input type="text" class="form-control" id="inputCity" name="city" placeholder="North York">
			  </div>
			  <div class="form-group">
				<label for="selectStars">Choose a Star Rating:</label>
				<select class="form-control" id="selectStars" name="stars">
					<option>0.5</option>
					<option>1</option>
					<option>1.5</option>
					<option>2</option>
					<option>2.5</option>
					<option>3</option>
					<option>3.5</option>
					<option>4</option>
					<option>4.5</option>
					<option>5</option>
				</select>
			  </div>
			  
			  <!-- Submit -->
			  <input type="submit" value="Make me a map!" class="btn btn-primary"></input>
			  </form>					
			  </div><!-- End of card-body-->
			</div><!-- End of card -->
		  </div><!-- End of card-deck -->
		</div><!-- End of fill -->
		</div><!-- End of col6 -->			 
		
		<!-- REVIEWS CARD -->  
		<!-- <div class="col-md-6">
		<div class="flip-card">
		  <div class="flip-card-inner">
			<div class="flip-card-front">
			  <img src="/static/Images/reviews.jpg" style="width:300px;height:300px;" alt="Reviews">
			</div>
			<div class="flip-card-back">
			  <br><h3>Machine Learning</h3> 
			  <h3>Applied on Yelp Reviews</h3> 
			  <a href="/soon.html" class="btn btn-light">Check it out!</a>
			</div>
		  </div>
		</div>
        </div>		 -->
	  </div><!-- End of row
	iv><!-- End of container -->
	
	<!-- End of id="myDiv" -->
	</div>
	
	
	<!-- QUIZ -->
		 <!--   <div class="col-md-12">
	       <div class="main">
         
          <div class="wrapper" id="pages">
            <span id="quizNumber">1</span><span>/7</span><br><br>
          </div>

         
          <div class="quiz-questions" id="display-area">
            <p id="question"></p>
            <ul id="answer">
            </ul>

            <div id="quiz-results">
              <button type="button" name="button" class="submit" id="submit">Submit</button>
            </div>
          </div>

        </div>

        <canvas id="canvas"></canvas>
		
		<br> <br>
 -->
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/css/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/css/popper.min.js.download"></script>
    <script src="/static/css/bootstrap.min.js.download"></script>
	
	<!-- D3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

	<!-- JS -->
	<script src="static/js/EATinerary.js"></script>

	<!-- JS of Preloader -->
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

<!-- JS of Quiz-->
<script>


// Creating questionss and answers
//*****************************************************************************
var question1 = {
                  question: "Ambience?",
                  answers: ['romantic', 'intimate', 'classy', 'hipster', 'divey', 'touristy', 'trendy', 'upscale', 'casual'],
                  correct: 0
                };

var question2 = {
                  question: "Alcohol?",
                  answers: ['true', 'false'],
                  correct: 1
                };

var question3 = {
                  question: "BestNights?",
                  answers: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
                  correct: 1
                }

var question4 = {
                  question: "Music?",
                  answers: ['dj', 'background music', 'no music', 'jukebox', 'live', 'video', 'karaoke'],
                  correct: 2
                };

var question5 = {
                  question: "Good For Meal?",
                  answers: ['dessert', 'latenight', 'lunch', 'dinner', 'brunch', 'breakfast'],
                  correct: 1
                };

var question6 = {
                  question: "Wheelchair Accessible?",
                  answers: ['true', 'false'],
                  correct: 2
                };

var question7 = {
                  question: "Wifi?",
                  answers: ["True", "False"],
                  correct: 0
                };

// create an array of objects

var questions = [question1, question2, question3, question4, question5, question6, question7];

// Initialize variables
//------------------------------------------------------------------

var tags;
var tagsClass = '';
var liTagsid = [];
var correctAns = 0;
var quizPage = 1;


var currentIndex = 0;
var currentQuestion = questions[currentIndex];

var prevousQuestion;
var previousIndex = 0;

var ulTag = document.getElementsByTagName('ul')[0];
var button = document.getElementById('submit');
var questionTitle = document.getElementById('question');

//save class name so it can be reused easily
//if I want to change it, I have to change it one place
var classHighlight = 'selected';


// Display Answers and hightlight selected item
//------------------------------------------------------------------
function showQuestions (){

  if (currentIndex != 0) {
    // create again submit button only for next pages
    ulTag.innerHTML ='';
    button.innerHTML = 'Submit';
    button.className = 'submit';
    button.id = 'submit';

    //update the number of questions displayed
    document.getElementById('quizNumber').innerHTML = quizPage;
  }

  //Display Results in the final page
  if (currentIndex ==  (questions.length)) {
    ulTag.innerHTML = '';
    document.getElementById('question').innerHTML = '';

    showResults();

    return
  }

  questionTitle.innerHTML = currentQuestion.question;
  console.log(currentQuestion.question);

  // create a for loop to generate the answers and display them in the page
  for (var i = 0; i < currentQuestion.answers.length; i++) {
    // creating answers
    var newAns = document.createElement('li');
    newAns.id = 'ans'+ (i+1);
    newAns.className = "notSelected";
    var textAns = document.createTextNode(currentQuestion.answers[i]);
    newAns.appendChild(textAns);
    var addNewAnsHere = document.getElementById('answer');
    addNewAnsHere.appendChild(newAns);

    console.log(currentQuestion.answers[i]);
  }


  //.click() will return the result of $('.notSelected')
    var $liTags = $('.notSelected').click(function(list) {
        list.preventDefault();
        //run removeClass on every element
        //if the elements are not static, you might want to rerun $('.notSelected')
        //instead of the saved $litTags
        $liTags.removeClass(classHighlight);
        //add the class to the currently clicked element (this)
        $(this).addClass(classHighlight);

        //get id name of clicked answer
        for (var i = 0; i < currentQuestion.answers.length ; i++) {
          // console.log(liTagsid[i]);
          if($liTags[i].className == "notSelected selected"){
            //store information to check answer
            tags = $liTags[i].id;
            // tagsClass = $LiTags.className;
            console.log(tags);
            tagsClassName = $liTags[i];
          }
        }
    });

    //check answer once it has been submitted
    button.onclick = function (){ checkAnswer()};
}

//self calling function
showQuestions();


// Show Correct Answer
//------------------------------------------------------------------
function checkAnswer (){
  // get selected list
  var selectedItem = document.getElementById(tags);

  // check that an answer has been selected
  if (selectedItem == undefined) {
    alert("Please selected an answer!")
    return
  } else {
    // get user answer if form of text
    var userAns = selectedItem.innerHTML;
  }

  // change the background of the answer according to the Results
  if (userAns == currentQuestion.answers[currentQuestion.correct]) {
    console.log("Correct! The answer is: "+ userAns);
    // change color of selected item by changing className
    selectedItem.className = 'correct';
    // count the number of correct answers
    correctAns++;
    console.log(correctAns);
  } else {
    console.log("Wrong! The corrent answer is: "+  currentQuestion.answers[currentQuestion.correct]);
    //change the background of the wrong answer
    selectedItem.className = 'wrong';
    //hightlight the right answer if the user got it wrong
    //change the class name of the correct answer
    ulTag.getElementsByTagName('li')[currentQuestion.correct].className = 'correct';

    console.log(currentQuestion.answers[currentQuestion.correct]);
  }

  // Create a next Question button once the answer has been submitted
  button.innerHTML = 'Next Question';
  button.className = 'next';
  button.id = 'next';

  prevousQuestion = currentQuestion;
  quizPage++;
  currentIndex++;
  currentQuestion = questions[currentIndex];

  // Start with the next question once the "Next" button has been clicked
  button.onclick = function (){showQuestions()};
  return
}

// Final score
//------------------------------------------------------------------
function showResults () {
  //deleting page number
  document.getElementById('pages').innerHTML='';

  // Change Title
  questionTitle.innerHTML = '<h1>Your Score</h1>';

  // Get the area that will be used to display the user's score
  var newInfo = document.getElementById('quiz-results');
  //Change the id and className of the area for the circle
  newInfo.innerHTML = '';
  newInfo.id = 'circle';
  newInfo.className = 'circle';


  //Create a Div for the fill element
  var newDiv = document.createElement('div');
  newDiv.className = 'fill';
  var addHere = document.getElementById('circle');
  addHere.appendChild(newDiv);

  // add the score to the circle
  var newScore = document.createElement('h3');
  newScore.className = 'score';
  var textScore = document.createTextNode(Math.floor((correctAns/questions.length)*100) + '%');
  newScore.appendChild(textScore);
  addHere.appendChild(newScore);

  //use jquary to grab the text of the score
  var score = $(".score").text();

  //fill the circle in base of the score
  $(".fill").css("height",score);

  if (correctAns >= 5) {
    var newCongrats = document.createElement('p');
    var textCongrats = document.createTextNode('Congratulations! You did a Good Job!')
    newCongrats.appendChild(textCongrats);
    document.getElementById('display-area').appendChild(newCongrats);

    confettiEffect();
  }

}

// Confetti Effect by Gtibo "Confetti Party"
//------------------------------------------------------------------
function confettiEffect (){
  //grabing area to create the effect
  canvas = document.getElementById("canvas");
  context = canvas.getContext("2d");
  width = canvas.width = window.innerWidth;
  height = canvas.height = window.innerHeight;

  // creating the tabel
  particle = [];
  particleCount = 0,
  gravity = 0.3,
  colors = [
    '#f44336', '#e91e63', '#9c27b0', '#673ab7', '#3f51b5',
    '#2196f3', '#03a9f4', '#00bcd4', '#009688', '#4CAF50',
    '#8BC34A', '#CDDC39', '#FFEB3B', '#FFC107', '#FF9800',
    '#FF5722', '#795548'
  ];

  for( var i = 0; i < 300; i++){

    particle.push({
    	x : width/2,
    	y : height/2,
    	boxW : randomRange(5,20),
    	boxH : randomRange(5,20),
    	size : randomRange(2,8),

    	spikeran:randomRange(3,5),

    	velX :randomRange(-8,8),
    	velY :randomRange(-50,-10),

    	angle :convertToRadians(randomRange(0,360)),
    	color:colors[Math.floor(Math.random() * colors.length)],
    	anglespin:randomRange(-0.2,0.2),

    	draw : function(){
    		context.save();
        context.translate(this.x,this.y);
        context.rotate(this.angle);
    		context.fillStyle=this.color;
    		context.beginPath();

    	  context.fillRect(this.boxW/2*-1,this.boxH/2*-1,this.boxW,this.boxH);
    		context.fill();
				context.closePath();
    		context.restore();
    	  this.angle += this.anglespin;
        this.velY*= 0.999;
    	  this.velY += 0.3;

        this.x += this.velX;
        this.y += this.velY;

    		if(this.y < 0){
      	   this.velY *= -0.2;
      		 this.velX *= 0.9;
      	};

      	if(this.y > height){
        	this.anglespin = 0;
        	this.y = height;
        	this.velY *= -0.2;
      		this.velX *= 0.9;
    	  };

    		if(this.x > width ||this.x< 0){
        	this.velX *= -0.5;
        };
    	},
  	});
  }

  function drawScreen(){
  			context.globalAlpha = 1;
    		for( var i = 0; i < particle.length; i++){
    			particle[i].draw();
    		}
  }

	function loadImage(url){
		var img = document.createElement("img");
		img.src=url;
		return img;
	}

  function update(){
  context.clearRect(0,0,width,height);
  drawScreen();
  requestAnimationFrame(update);
  }

  update();

  function randomRange(min, max){
  	return min + Math.random() * (max - min );
  }

  function randomInt(min, max){
  	return Math.floor(min + Math.random()* (max - min + 1));
  }

   function convertToRadians(degree) {
        return degree*(Math.PI/180);
    }

		function drawStar(cx, cy, spikes, outerRadius, innerRadius,color) {
    var rot = Math.PI / 2 * 3;
    var x = cx;
    var y = cy;
    var step = Math.PI / spikes;

    context.strokeSyle = "#000";
    context.beginPath();
    context.moveTo(cx, cy - outerRadius)
    for (i = 0; i < spikes; i++) {
        x = cx + Math.cos(rot) * outerRadius;
        y = cy + Math.sin(rot) * outerRadius;
        context.lineTo(x, y)
        rot += step

        x = cx + Math.cos(rot) * innerRadius;
        y = cy + Math.sin(rot) * innerRadius;
        context.lineTo(x, y)
        rot += step
    }

    context.lineTo(cx, cy - outerRadius)
    context.closePath();
    context.fillStyle = color;
    context.fill();

  }
}

</script>

</body></html>