<!DOCTYPE html>
<html lang="en">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/Images/image.png">

    <title>EATinerary</title>

	<!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="/static/css/custom1.css" rel="stylesheet">
	
	<!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin="">
  </script>

</head>

<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
	
		<ul class="nav">
			<li class="nav-item">
			  <a class="nav-link active" style="color: black" href="/">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" style="color: black" href="/about">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" style="color: black" href="/contact">Contact</a>
			</li>
		</ul>
		
		<!-- Heading -->
		<div class="container"><br>
			<h2><img src="/static/Images/image.png" style="width:112px;height:92px;">EATinerary</h2>
			<h6 style="color: black">Every culinary experience has a story and we would like to help you tell yours.</h6>		
			<hr><br>
		</div>		
    </div>

	<div class="container">
		<div class="row">
			<!-- City Card -->  
			<div class="col-md-4 mb-5">
				<div class="card-deck mb-5 text-left">
					<div class="card mb-5 shadow-sm">
						<div class="card-header"><h5>Where do you want to go?</h5></div>
						<div class="card-body">
							<!--Make sure the form has the autocomplete function switched off:-->
							<form autocomplete="off">
								<div class="autocomplete">
									<input id="myInput" type="text" name="myCity" placeholder="City">
								</div>
								<button id="submitButton" type="button">Submit</button>
							</form>
						</div>
					</div>	
				</div>
			</div>
		
			<!-- Accessibility card -->
			<div class="col-md-8">
				<div class="card-deck mb-2 text-left">
					<div class="card mb-2 shadow-sm">
						<div class="card-header"><h5>Accessibility requirements?</h5></div>
						<div class="card-body">
							<label class="choice">
								<input type="checkbox" value="OpenNow">
								<i class="fas fa-check"></i>
								<span class="text">Currently open</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="WheelchairAccessible">
								<i class="fas fa-check"></i>
								<span class="text">Wheelchair friendly</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="GoodForKids">
								<i class="fas fa-check"></i>
								<span class="text">Kid friendly</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="DogsAllowed">
								<i class="fas fa-check"></i>
								<span class="text">Dog friendly</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Smoking_yes">
								<i class="fas fa-check"></i>
								<span class="text">Smoking friendly</span>
							</label>
						</div>
					</div>
					<!-- Dietary card -->
					<div class="card mb-2 shadow-sm">
						<div class="card-header"><h5>Dietary requirements?</h5></div>
						<div class="card-body">
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_dairy-free">
								<i class="fas fa-check"></i>
								<span class="text">Dairy-free</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_gluten-free">
								<i class="fas fa-check"></i>
								<span class="text">Gluten-free</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_vegan">
								<i class="fas fa-check"></i>
								<span class="text">Vegan</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_kosher">
								<i class="fas fa-check"></i>
								<span class="text">Kosher</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_halal">
								<i class="fas fa-check"></i>
								<span class="text">Halal</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_soy-free">
								<i class="fas fa-check"></i>
								<span class="text">Soy-free</span>
							</label>
							<label class="choice">
								<input type="checkbox" value="Dietary_Restrictions_vegetarian">
								<i class="fas fa-check"></i>
								<span class="text">Vegetarian</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- The div for our map -->
	<div id="map" class="map"></div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="application/javascript"></script>
	<script src="/static/css/popper.min.js.download" type="application/javascript"></script>
	<script src="/static/css/bootstrap.min.js.download" type="application/javascript"></script>

	<!-- JS -->
	<script  src="https://d3js.org/d3.v5.min.js" type="application/javascript"></script>
	<script src="https://kit.fontawesome.com/7d7153cb30.js" type="application/javascript"></script>
	<script src="static/js/autocomplete.js" type="application/javascript"></script>
	<script src='static/js/config.js' type="application/javascript"></script>
	<script src="static/js/index.js" type="application/javascript"></script>
	<script src="static/js/map.js" type="application/javascript"></script>
	
	<!-- JS of Preloader -->
	<script>
		var myVar;
		function myFunction() {
		myVar = setTimeout(showPage, 330);
		}

		function showPage() {
		document.getElementById("loader").style.display = "none";
		document.getElementById("myDiv").style.display = "block";
		}
	</script>
</body>
</html>